# Lists

### The Basics

- A `list` is a sequence of arbitrary values enclosed with brackets.

In [1]:
x = [2.7, 'Hello World', -3]
x

[2.7, 'Hello World', -3]

In [2]:
len(x)  # Length of the list

3

In [3]:
type(x)

list

In [4]:
y = [3.4, "hello", 4, [-7, 'world']]  # Nested list
y

[3.4, 'hello', 4, [-7, 'world']]

In [5]:
len(y)

4

In [6]:
[-1, 2] + [2, 3.4]  # Concatenation

[-1, 2, 2, 3.4]

In [7]:
[-1, 2] * 3  # Repetition

[-1, 2, -1, 2, -1, 2]

In [8]:
y

[3.4, 'hello', 4, [-7, 'world']]

<img src="images/nested_list.png" alt="Indexing: Nested List" style="width: 250px;"/>

In [9]:
y[1]  # Indexing

'hello'

In [10]:
y[-2]

4

In [11]:
y[3]

[-7, 'world']

<img src="images/nested_list.png" alt="Indexing: Nested List" style="width: 250px;"/>

In [12]:
y[3][0]  # Nested indexing

-7

In [13]:
y[1:3]  # Slicing

['hello', 4]

In [14]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [15]:
days[4 - 1]

'Thu'

In [16]:
for d in days:
    print(d)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [17]:
for i, d in enumerate(days):  # Returns both the index and the value of each element
    print('Day', i+1, 'is', d)

Day 1 is Mon
Day 2 is Tue
Day 3 is Wed
Day 4 is Thu
Day 5 is Fri
Day 6 is Sat
Day 7 is Sun

- Two or more sequences can be paired with the zip() function.

In [18]:
questions = ['One', 'Two', 'Three']
points = ['10', '15', '20']
for q, p in zip(questions, points):
    print('Question', q, 'is worth', p, 'points.')

Question One is worth 10 points.
Question Two is worth 15 points.
Question Three is worth 20 points.

In [19]:
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [20]:
'Mon' in days  # Whether a given element is contained in a list

True

In [21]:
'mon' in days

False

In [22]:
5 in [2, 4, 6, 8]

False

In [23]:
s = 'Mon Tue Wed Thu Fri Sat Sun'
s.split()  # Split a string into substrings based on spaces

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [24]:
'10, 5, 3.14, -12'.split(', ')

['10', '5', '3.14', '-12']

### Lists Are Mutable

In [25]:
y = [2, 3]
y[0] = 1
y

[1, 3]

In [26]:
y = ['a', 'b', 'c', 'd']
del y[1:3]
y

['a', 'd']

In [27]:
y = []  # An empty list
y

[]

In [28]:
y.append('this')
y

['this']

In [29]:
y.append('that')
y

['this', 'that']

In [30]:
y.insert(1, 'thing')
y

['this', 'thing', 'that']

In [31]:
y.sort()
y

['that', 'thing', 'this']

In [32]:
y.remove('thing')
y

['that', 'this']

In [33]:
y.reverse()
y

['this', 'that']

### List Comprehensions

- List comprehensions use the `for` keyword to create lists in a natural way like they are defined in mathematics:
$$ A = \{n^2 : n\ is\ interger; and\ 0 \leq n \leq 5\}\}$$

In [34]:
A = []
for n in range(6):
    A.append(n**2)
A

[0, 1, 4, 9, 16, 25]

- A list comprehension consists of brackets containing an expression followed by a `for` clause, then zero or more `for` or `if` clauses. The result will be a new list.

In [35]:
A = [n**2 for n in range(6)]
A

[0, 1, 4, 9, 16, 25]

$$ B = \{3\cdot2^n-1: n\ is\ integer; and\ 0 \leq n \leq 5\}\}$$

In [36]:
B = [3*2**n-1 for n in range(6)]
B

[2, 5, 11, 23, 47, 95]

$$ C = \{m : m\ in\ A; and\ m\ is\ even\}$$

In [37]:
C = [m for m in A if m % 2 == 0]
C

[0, 4, 16]

$$ D = \{ |x| : x \in \{-2, -1, 0, 3\}\}$$

In [38]:
D = [abs(x) for x in [-2, -1, 0, 3]]  # Apply a function to all the elements
D

[2, 1, 0, 3]

In [39]:
fruits = ['   apple', '  banana  ', 'grape   ']
[fruit_i.strip() for fruit_i in fruits]  # Call a method on each element

['apple', 'banana', 'grape']

$$ z = \{ (x,y) : x \in \{1, 2, 3\}, y \in \{2, 3, 4\}; and\ x \neq y\}$$

In [40]:
z = []
for x in [1, 2, 3]:
    for y in [2, 3, 4]:
        if x != y:
            z.append((x, y))
z

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 2), (3, 4)]

In [41]:
[(x, y) for x in [1, 2, 3] for y in [2, 3, 4] if x != y]

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 2), (3, 4)]

### Course Materials on YouTube and GitHub

- Course videos are hosted by YouTube ( http://youtube.com/yongtwang ).
- Course documents (Jupyter Notebooks and Python source code) are hosted by GitHub ( http://github.com/yongtwang ).